body{
      background-image:
        linear-gradient(#7E429B, #e093ab);
}

.aa {
    background-image: url(im/joy.jpeg);
    height: 250px;
    width: 200px;
    position: absolute;
    left: 60px;
    top: 100px;
    transition: height 2s;
}

.ab {
    background-image: url(im/1.jpeg);
    height: 180px;
    width: 180px;
    position: absolute;
    left: 180px;
    top: 320px;
}

.rotate {
    width: 100px;
    height: 100px;
    background-image: url(im/8.jpeg);
    transition: width 2s, height 2s, transform 5s;
    background-repeat: no-repeat;
}

div:hover {
    width: 600px;
    height: 400px;
    transform: rotate(360deg);
}
